*{
    margin: 0;
    padding: 0;
}

:root{
    --landing-image-width:40%;
}

.menu-item{
    color: rgb(57, 57, 57);
    text-decoration: none;
}

.btnLink{
    margin: auto;
    height: 100px;
} 

.btnInside{
    height: 120px;
    width: 150px;
}

.btnLink:hover{
    cursor: pointer;
}

/* Home Page */
.homePage{
    height: calc(var(--landing-image-width));
    min-height: 90vh;
    animation: colors 20s linear infinite;
}

.landing-image{
    max-width: 300px;
    width: var(--landing-image-width);
    height: auto;
}

.side-element{
    width: 90%;
    margin-top: 15px;
}


.imageWrapper-landing{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 5px;
}


.css-1nuw9uu-MuiGrid-root{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.btn-category{
    width: 210px;
    height: 70px;
    margin: 15px !important;
}

/* 
@keyframes colors{
    0%{
        background:rgb(165, 249, 255);
    }
    50%{
        background: rgb(203, 194, 255);
    }
    100%{
        background:rgb(173, 250, 255);
    } */

    @keyframes colors{
        0%{
            background:rgb(134, 247, 255,0.7);
        }
        50%{
            background: rgba(171, 157, 251, 0.856);
        }
        100%{
            background:rgb(134, 247, 255,0.7);
        }
 
    /* old ones */
    /* @keyframes colors{
        0%{
            background:rgb(134, 247, 255);
        }
        50%{
            background: rgb(175, 162, 253);
        }
        100%{
            background:rgb(134, 247, 255);
        } */
}